<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>API help</title>
  </head>
  <body>
    <h1>Student moyenne [GET]:</h1>
    <li>
      <ul>Description: Return student moyenne on JSON format</ul>
      <ul>Method: GET</ul>
      <ul>Return: variable</ul>
      <ul>Format: JSON</ul>
      <ul>Link: http://‹server_ip›/matter_moyenne?username=‹username›&password=‹password›&link=‹link›</ul>
      <ul>Time: ~20 seconds</ul>
    </li>
    <h1>Classeroom moyenne [GET]:</h1>
      <li>
        <ul>Description: Return classeroom moyenne on JSON format</ul>
        <ul>Method: GET</ul>
        <ul>Return: variable</ul>
        <ul>Format: JSON</ul>
        <ul>Link: http://‹server_ip›/matter_moyenne?username=‹username›&password=‹password›&link=‹link›</ul>
        <ul>Time: ~20 seconds</ul>
      </li>
    <h1>Matter moyenne [GET]:</h1>
    <li>
      <ul>Description: Return matters moyenne on JSON format</ul>
      <ul>Method: GET</ul>
      <ul>Return: dict</ul>
      <ul>Format: JSON</ul>
      <ul>Link: http://‹server_ip›/matter_moyenne?username=‹username›&password=‹password›&link=‹link›</ul>
      <ul>Time: ~20 seconds</ul>
    </li>
  </body>
</html>
